@(showingForm: Form[models.products.Showing],user: models.users.User)

@import helper._
@import models.products.Movie

@main("Add Showing",user){
    <p class="lead">Add a new showing</p>

    @form(action=routes.HomeController.addShowingSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate the form submission *@
        @CSRF.formField
            @select(
                showingForm("movie.id"),
                options(Movie.options),
                '_label -> "Movie", '_default -> "-- Choose a movie --", 
                '_showConstraints -> false, 'class -> "form-control"
            )

            @inputDate(showingForm("date"), args = 'size -> 10, '_label -> "Date", 'class -> "form-control")
            @inputText(showingForm("time"), '_label -> "time", 'class -> "form-control")
            @inputText(showingForm("tickets"), '_label -> "tickets", 'class -> "form-control")
            @inputText(showingForm("price"), '_label -> "Price", 'class -> "form-control")

            @inputText(showingForm("id"), '_label -> "", 'hidden -> "hidden")

            <div class="actions">
                <input type="submit" value="Add/Update showing" class="btn btn-primary">
                <a href="@routes.HomeController.Movies(0)">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } @* end of form *@
} @* end of main *@